*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
}



/* Creacion de Fomulario */

.contenedor2{
    display: flex;
}

.stock{
    margin-right: 15px;
    width: 50%;
}

.imagen{
    width: 100%;
    height: 75%;
    margin-bottom: 15px;
    border-radius: 10%;

}

.body222{
    background: url(../images/angelina-litvin-39774-unsplash.jpg);
    background-size: cover;
}

.contenedor11{
    display: flex;
    margin: 25px;
}

.class{
    width: 50%;
    margin-right: 20px;

}

.class1{
    width: 50%;
    margin-right:20px ;
}


.form-title{
    color: orange;
}

.form-title{

    font-weight: normal;
    font-family: sans-serif;
    color: orange;
}

.span2{
    color:white;
}

.form-header{
    text-align: center;
}


.form3{
    background: rgba(0, 0, 0, 0.8);
    margin:auto;
    width: 60%;
    padding: 5px 35px;
    margin-top: 100px ;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-bottom:150px ;

}

.form-label{
    display:block;
    color:white;
    font-size: 16px;
    position: relative;
}

.form-input{
    background: rgba(0, 0, 0, 0.856);
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color:white;
    border: none;
    border-bottom: 2px solid orange;
    border-radius: 5px;
    
}

.form-input::placeholder{color:white;}

.btn-submit{
    width: 100% ;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor:pointer;
}

.btn-submit:hover{
    background:orangered ;
}
