<!DOCTYPE html>
<html lang="en">
  
  <%- include("./partials/head") %>

  <style>.container {padding-right: 20px;padding-left: 20px;}</style>
  
  
<!-- Body Start-->
<body >

    
        
  <div class="login-password">

      <div class="login-contenedor">
          

          
          <h2 class='login-titulo'>M<span class="login-span">arketPet</span></h2>

          <h2 class='login-titulo2'>B<span class="login-span">ienvenidos!!</span></h2>
          

          <form action="">

              <label for='name' class="label-perfil-contraseña" >Ingrese su E-mail:</label><br>
              
              <div class="icon"> 
                  <div class="perfil-login">
                      <i class="fa-solid fa-user"></i>
                  </div>    
              
                  <input class='input-perfil-contraseña '  type="text" name="name" id="name" placeholder="Usuario">
              </div>



              <label for='name' class="label-perfil-contraseña" >Ingrese su Contraseña:</label><br>
              
              
              <div class="icon"> 
                  <div class= llave>
                      <i class="fa-solid fa-key "></i>
                  </div>    
              
                  <input class='input-perfil-contraseña '  type="text" name="name" id="name" placeholder="Contraseña">
              </div>
      
              <input type="submit" class="btn-ingresar" value="Ingresar">

          </form>

          
              <div class="registrate-login"><a href="/register"><i class="fa-solid fa-user"></i>¿No tienes cuenta? Registrate</a></div> 
          
              <div class="home-login"><a href="/"><i class="fa-solid fa-house-chimney"></i>Volver al Home</a></div>
              

          


      </div>

  </div>



<script src="https://kit.fontawesome.com/b1ee9d91d2.js" crossorigin="anonymous"></script>






</body>
  <!-- Body Ended -->
</html>
